# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

prototype/Binaries
prototype/DerivedDataCache
prototype/Intermediate/Build
prototype/Intermediate/Config
prototype/Intermediate/ReimportCache
prototype/Intermediate/CachedAssetRegistry.bin
prototype/Intermediate/Staging
prototype/Saved/Logs
*.opensdf
*.sdf
*.suo